### 《利用python进行数据分析》第十章 数据聚合与分组操作

In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame({
    'key1':['a', 'a', 'b', 'b', 'a'],
    'key2':['one', 'two', 'one', 'two', 'one'],
    'data1':np.random.randn(5),
    'data2':np.random.rand(5)
})
df

  key1 key2     data1     data2
0    a  one -3.173118  0.996499
1    a  two -0.129641  0.281422
2    b  one -0.652667  0.181863
3    b  two -0.140012  0.986892
4    a  one -0.235467  0.011132

In [2]:
groupd = df['data1'].groupby(df['key1'])
groupd

In [3]:
groupd.mean()

key1
a   -1.179409
b   -0.396340
Name: data1, dtype: float64

In [4]:
means = df['data1'].groupby([df['key1'], df['key2']]).mean()
means

key1  key2
a     one    -1.704293
      two    -0.129641
b     one    -0.652667
      two    -0.140012
Name: data1, dtype: float64

In [5]:
means.unstack()

key2       one       two
key1
a    -1.704293 -0.129641
b    -0.652667 -0.140012

In [6]:
states = np.array(['Ohio', 'California', 'California', 'Ohio', 'Ohio'])
years = np.array([2005, 2005, 2006, 2005, 2006])
df['data1'].groupby([states, years]).mean()

California  2005   -0.129641
            2006   -0.652667
Ohio        2005   -1.656565
            2006   -0.235467
Name: data1, dtype: float64

In [10]:
df.mean()

data1   -0.866181
data2    0.491562
dtype: float64

In [7]:
df.groupby('key1').mean()

         data1     data2
key1
a    -1.179409  0.429684
b    -0.396340  0.584378

In [8]:
df.groupby(['key1', 'key2']).mean()

              data1     data2
key1 key2
a    one  -1.704293  0.503815
     two  -0.129641  0.281422
b    one  -0.652667  0.181863
     two  -0.140012  0.986892

In [9]:
df.groupby(['key1', 'key2']).size()

key1  key2
a     one     2
      two     1
b     one     1
      two     1
dtype: int64