### 《利用python进行数据分析》第十章 数据聚合与分组操作

In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame({
    'key1':['a', 'a', 'b', 'b', 'a'],
    'key2':['one', 'two', 'one', 'two', 'one'],
    'data1':np.random.randn(5),
    'data2':np.random.rand(5)
})
df

  key1 key2     data1     data2
0    a  one  1.475045  0.106415
1    a  two -0.299258  0.901598
2    b  one  0.070433  0.342712
3    b  two -0.225885  0.522322
4    a  one -0.068594  0.036529

In [2]:
groupd = df['data1'].groupby(df['key1'])
groupd

In [3]:
groupd.mean()

key1
a    0.369064
b   -0.077726
Name: data1, dtype: float64

In [6]:
means = df['data1'].groupby([df['key1'], df['key2']]).mean()
means

key1  key2
a     one     0.703226
      two    -0.299258
b     one     0.070433
      two    -0.225885
Name: data1, dtype: float64

In [7]:
means.unstack()

key2       one       two
key1
a     0.703226 -0.299258
b     0.070433 -0.225885

In [8]:
states = np.array(['Ohio', 'California', 'California', 'Ohio', 'Ohio'])
years = np.array([2005, 2005, 2006, 2005, 2006])
df['data1'].groupby([states, years]).mean()

California  2005   -0.299258
            2006    0.070433
Ohio        2005    0.624580
            2006   -0.068594
Name: data1, dtype: float64