#### 数据分析基础篇-16讲

##### 1、1+3+5+7+...+99

In [18]:
import numpy as np
import pandas as pd
from pandas import DataFrame
a = np.arange(10,1,-1).reshape(3,3)
a

array([[10,  9,  8],
       [ 7,  6,  5],
       [ 4,  3,  2]])

In [19]:
np.sort(a, axis= 0)
a

array([[10,  9,  8],
       [ 7,  6,  5],
       [ 4,  3,  2]])

In [20]:
data = {'Chinese': [66, 95, 93, 90,80],'English': [65, 85, 92, 88, 90],'Math': [30, 98, 96, 77, 90]}
df2 = DataFrame(data
                , index=['ZhangFei', 'GuanYu', 'ZhaoYun', 'HuangZhong', 'DianWei']
                , columns=['English', 'Math', 'Chinese'])
df2

            English  Math  Chinese
ZhangFei         65    30       66
GuanYu           85    98       95
ZhaoYun          92    96       93
HuangZhong       88    77       90
DianWei          90    90       80

In [21]:
df2.rename(columns={'Chinese': 'YuWen', 'English': 'Yingyu'}, inplace = True)
df2

            Yingyu  Math  YuWen
ZhangFei        65    30     66
GuanYu          85    98     95
ZhaoYun         92    96     93
HuangZhong      88    77     90
DianWei         90    90     80

In [23]:
df3 = df2.drop(columns='YuWen')
df3

            Yingyu  Math
ZhangFei        65    30
GuanYu          85    98
ZhaoYun         92    96
HuangZhong      88    77
DianWei         90    90

In [27]:
df4 = df2.set_index('姓名', drop=True)
df4

KeyError: "None of ['姓名'] are in the columns"

#### pandasql

In [45]:
x = pd.Series(data=[[1,2,3,4],[5,6,7,8]], index=[['a', 'b'],['c', 'd']])
x

a  c    [1, 2, 3, 4]
b  d    [5, 6, 7, 8]
dtype: object

In [36]:
x['a']

c    [1, 2, 3, 4]
dtype: object

In [41]:
x['c']

KeyError: 'c'

In [44]:
x1 = pd.DataFrame(data=[[1,2,3,4],[5,6,7,8]], index=[['a', 'b'],['c', 'd']], columns=['1', '2', '3', '4'])
x1

     1  2  3  4
a c  1  2  3  4
b d  5  6  7  8