### 《利用python进行数据分析》第五章

In [19]:
import pandas as pd
from pandas import Series, DataFrame

obj = pd.Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])
obj.values
obj.index
obj['a']
obj[obj > 2]
obj * 2
'b' in obj
4 in obj

False

In [50]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame
# 通过字典创建 Series
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj = pd.Series(sdata)
obj
states = ['California', 'Ohio', 'Oregon', 'Texas']
obj4 = pd.Series(sdata, index=states)
obj4
pd.isnull(obj4)
pd.notnull(obj4)
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002, 2003],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
frame = pd.DataFrame(data, columns=['pop', 'state', 'year'])
# print(frame)
frame2 = pd.DataFrame(data, columns=['year', 'state', 'pop', 'debt'],
                      index=['one', 'two', 'three', 'four',
                             'five', 'six'])
frame2

labels = pd.Index(np.arange(3))
labels
obj2 = pd.Series([1.5, -2.5, 0], index=labels)
obj2
obj3 = pd.Series(['blue', 'purple', 'yellow'], index=[0, 2, 4])
obj3
# 重建索引  前向填充值 ffill   后向填充 bfill
# obj3.reindex(range(6), method='ffill')
obj3.reindex(range(7), method='bfill')

frame = pd.DataFrame(np.arange(9).reshape((3, 3)), 
                     index=['a', 'c', 'd'], 
                     columns=['Ohio', 'Texas', 'California'])
frame
frame2 = frame.reindex(['a', 'b', 'c', 'd'])
frame2

   Ohio  Texas  California
a   0.0    1.0         2.0
b   NaN    NaN         NaN
c   3.0    4.0         5.0
d   6.0    7.0         8.0

In [19]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

obj = pd.Series(np.arange(5.), index=['a', 'b', 'c', 'd', 'e'])
obj
new_obj = obj.drop('c')
new_obj
new_obj = obj.drop(['a', 'b'])
new_obj
# columns 列 -> columns
# row 行 -> index
data = pd.DataFrame(np.arange(16).reshape((4, 4)),
                   index=['Ohio', 'Colorado', 'Utah', 'New York'],
                   columns=['one', 'two', 'three', 'four'])
print(data)
# 删除需要给一个返回对象，否则不生效
data = data.drop(['Ohio', 'Colorado'])
print(data)
# data.drop('one', axis=1)

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15
          one  two  three  four
Utah        8    9     10    11
New York   12   13     14    15